/**********/
/* COMMUN */
/**********/

@media all and (max-width: 1440px) {

    /* INITIALISATION DES MARGES */

    * {
        margin: 0;
        padding: 0;
    }

    span {
        font-weight: bold;
    }

    span>.blue {
        color: #0065FC;
    }

    a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: black;
    }

    /* POLICES */

    @font-face {
        font-family: Raleway;
        src: url(polices/Raleway-Medium.ttf);
    }

    body {
        font-family: Raleway, Arial, sans-serif;
    }


    h1 {
        font-size: 1.1em;
        font-weight: 900;
    }

    h2 {
        font-size: 1.1em;
        font-weight: 900;
    }

    h3 {
        font-size: 0.8em;
        font-weight: 900;
        margin-right: 20px;
    }

    figcaption {
        font-size: 0.8em;
        font-weight: 900;
    }

    p {
        font-size: 0.7em;
        margin-top: 5px;
    }


    .stars {
        padding: 5px;
        font-size: 0.7em;
        color: #F2F2F2;
    }

    .blue {
        color: #0065FC;
    }

    /* En-tête */

    header {
        margin: 2px 30px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Pitch */

    .pitch {
        margin: 20px 30px 0;
    }

    /* Menu de navigation */

    .header_nav_signup {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header_nav {
        padding: 20px 20px;
        font-size: 0.8em;
    }

    .header_nav:hover {
        color:#0065FC;
        border-top: solid 2px #0065FC;
    }

    /* Inscription */

    a.header_signup {
        color: #0065FC;
        font-size: 0.8em;
        font-weight: bold;
        padding: 20px 20px;
    }

    /* Moteur de recherche */

    .search {
        margin: 20px 30px 0;
        display:flex;
        justify-content: flex-start;
    }

    .search_icon {
        background-color: #F2F2F2;
        border: solid 1px #F2F2F2;
        border-radius: 8px 0 0 8px;
        font-size: 0.8em;
        padding: 0.8em;
    }

    .search_input {
        font-size: 0.8em;
        font-weight: bold;
        border: solid 1px #F2F2F2;
        padding: 0.8em;
    }
   
    /* Filtres */

    .filters {
        margin: 10px 30px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .filters_title {
        margin-top: 10px;
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .filter_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        font-size: 0.8em;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 2em;
        padding: 0.7em;
        z-index: 100;
    }

    .filter_name {
        margin: 0 20px 0 -2.8em;
        font-size: 0.8em;
        font-weight: 900;
        border: solid 1px #F2F2F2;
        border-radius: 1.6em;
        padding: 0.8em 1em 0.8em 3.6em;
    }

    .filter_name:hover {
        color: white;
        background-color: #0065FC;
        border: solid 1px #0065FC;
    }

    /* Résultat */

    .result {
        margin: 20px 30px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .result_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        width: 1em;
        font-size: 0.6em;
        border: solid 1px #F2F2F2;
        color: #0065FC;
        border-radius: 2em;
        padding: 0.4em;
        margin-right: 10px;
    }

    /* Hébergement */

    .hosting {
        padding: 30px;
    }

    .hosting_sticker {
        margin-top: 30px;
        background-color: white;
        box-shadow: 0 0 5px grey;
        padding: 5px;
        border-radius: 1em;
    }

    .hosting_sticker:hover {
        box-shadow: 0 0 10px black;
    }

    .hosting_sticker_picture {
        width: 100%;
        height: 8em;
        object-fit: cover;
        border-radius: 0.8em 0.8em 0 0;
    }

    .hosting_sticker_title, .hosting_sticker_price {
        padding: 0 5px;
    }

    .hosting_footer {
        margin-top: 30px;
    }

    /* Populaires */

    .popular {
        margin-top: 20px;
        padding: 30px;
        background-color: #F2F2F2;
    }

    .popular_title_icon {
        display: flex;
        justify-content: space-between;
    }

    .popular_stickers {
        display: flex;
        flex-direction: column;
    }

    .popular_sticker {
        margin-top: 30px;
        background-color: white;
        box-shadow: 0 0 5px grey;
        padding: 5px;
        border-radius: 1em;
        height: 8em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .popular_sticker:hover {
        box-shadow: black 0 0 10px;
    }

    .popular_sticker_picture {
        width: 35%;
        height: 8em;
        object-fit: cover;
        border-radius: 0.8em 0 0 0.8em;
    }

    .popular_sticker_text {
        width: 55%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular_sticker_title, .popular_sticker_price {
        padding: 0 5px;
    }

    /* Activités */

    .activity {
        margin: 30px 30px 0 30px;
    }

    .activity_stickers {
        padding: 30px 0;
        width: 100%;
    }

    .activity_sticker {
        border-radius: 0.8em;
        box-shadow: 0 0 5px grey;
    }

    .activity_sticker:hover {
        box-shadow: 0 0 10px black;
    }

    .activity_sticker_title {
        padding: 10px 0 10px 15px;
    }

    .activity_sticker_picture1 {
        width: 100%;
        border-radius: 0.8em 0.8em 0 0;
        object-fit: cover;
    }

    .activity_sticker_picture2 {
        width: 100%;
        border-radius: 0.8em 0.8em 0 0;
        object-fit: cover;
    }

    .activity_sticker_picture3 {
        width: 100%;
        border-radius: 0.8em 0.8em 0 0;
        object-fit: cover;
    }

    /* Pied de page */

    footer {
        padding: 0 30px 30px 30px;
        background-color: #F2F2F2;
    }

    footer h3 {
        margin-bottom: 20px;
    }

    footer p {
        margin-top: 10px;
    }

    .footer_block {
        margin-top: 30px;
    }

}

/**********/
/* MOBILE */
/**********/

@media all and (max-width: 680px) {

    header {
        margin-top: 10px;
    }

    .header_nav {
        display: none;
    }

    nav.mobile {
        display: flex;
        justify-content: center;
    }

    .nav_mobile {
        width: 50%;
        text-align: center;
        padding: 15px 15px;
        font-size: 0.8em;
        border-bottom: solid 2px #F2F2F2;
    }

    .nav_mobile:hover {
        color:#0065FC;
        border-bottom: solid 2px #0065FC;
    }

    .search_button {
        display: none;
    }

    .search_button_mobile {
        color: white;
        background-color: #0065FC;
        border: solid 1px #0065FC;
        border-radius: 8px;
        margin-left: -8px;
        font-size: 0.8em;
        padding: 0.8em;
    }

    .filters_title {
        width: 100%;
    }

    .hp {
        display: flex;
        flex-direction: column-reverse;
    }

    .hosting_stickers {
        display: flex;
        flex-direction: column;
    }

    .activity_stickers {
        display: flex;
        flex-direction: column;
    }

    .activity_sticker {
        margin-bottom: 30px;
    }

    .activity_sticker_picture1, .activity_sticker_picture2, .activity_sticker_picture3 {
        height: 8em;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    p {
        color: black;
    }

}

/*********************/
/* DESKTOP & TABLETS */
/*********************/

@media all and (min-width: 681px) {

    nav.mobile {
        display: none;
    }
 
    .search_button {
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        background-color: #0065FC;
        border: solid 1px #0065FC;
        border-radius: 0 8px 8px 0;
        padding: 0.8em;
    }

    .search_button_mobile {
        display: none;
    }

    .hp {
        margin: 0 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hosting {
        margin-top: 20px;
        width: 60%;
        background-color: #F2F2F2;
        border-radius: 1em;
    }

    .hosting_stickers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hosting_sticker {
        width: 29%;
    }

    .popular {
        width: 27%;
        border-radius: 1em;
    }

    .activity_stickers {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .activity_stickers {
        height: 22.5em;
    }

    .activity_sticker {
        width: 23%;
    }

    .activity_sticker_picture1 {
        height: 20em;
    }

    .activity_sticker_picture2 {
        height: 10em;
    }

    .activity_sticker_picture3 {
        height: 6em;
        border-radius: 0.8em 0.8em 0 0;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .footer_block {
        width: 30%;
    }
}