/**********/
/* COMMUN */
/**********/

@media all {

    /* INITIALISATION DES MARGES */

    * {
        margin: 0;
        padding: 0;
    }

    span {
        font-weight: bold;
    }

    span>.blue {
        color: #0065FC;
    }

    a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
    }

    button {
        border: none;
    }

    /* POLICES */

    @font-face {
        font-family: Raleway;
        src: url(polices/Raleway-Regular.ttf);
    }

    body, footer {
        font-family: Raleway-Regular, Arial, sans-serif;
    }

    h1 {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h3 {
        font-size: 0.9em;
        font-weight: bold;
        margin-right: 20px;
    }

    figcaption {
        font-size: 0.9em;
        font-weight: 700;
        text-overflow: ellipsis;
    }

    p {
        font-size: 0.9em;
        margin-top: 5px;
    }

    .stars {
        padding: 5px;
        font-size: 0.7em;
        color: #F2F2F2;
    }

    .blue {
        color: #0065FC;
    }

    /* En-tête */

    .header_first_line {
        margin-top: 2px;
        display: flex;
        justify-content: space-between;
    }

    .header_nav {
        display: flex;
    }

    .header_blank {
        flex-grow: 4;
    }

    a.header_signup {
        color: #0065FC;
        font-size: 0.9em;
        font-weight: bold;
        padding: 20px 20px;
    }

    /* Pitch */

    .pitch {
        margin: 20px 30px 0;
    }

    /* Moteur de recherche */

    .search {
        margin: 30px 30px 0;
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    .search_icon {
        background-color: #F2F2F2;
        /* border: solid 1px #F2F2F2; */
        /* warning : color et border sont de la même couleur */
        border-radius: 10px 0 0 10px;
        font-size: 0.9em;
        padding: 0.9em;
    }

    .search_input {
        font-size: 0.9em;
        font-weight: bold;
        border: solid 0.1em #F2F2F2;
        padding: 0.7em;
    }

    .search_button {
        font-size: 0.9em;
        font-weight: bold;
        color: white;
        background-color: #0065FC;
        /* border: solid 1px #0065FC; */
        /* warning : color et border sont de la même couleur */
        border-radius: 0 10px 10px 0;
        padding: 0.78em;
    }

    /* Filtres */

    .filters {
        margin: 30px 30px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .filters_title {
        margin-top: 10px;
        font-weight: bold;
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    .filter_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        font-size: 0.9em;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 2em;
        padding: 0.6em;
        z-index: 100;
    }

    .filter_name {
        margin: 0 22px 0 -2.8em;
        font-size: 0.8em;
        font-weight: 700;
        border: solid 0.1em #F2F2F2;
        border-radius: 1.6em;
        padding: 0.9em 1em 0.8em 3.6em;
    }

    .filter_name:hover {
        color: white;
        background-color: #0065FC;
        /* border: solid 1px #0065FC; */
        /* warning : color et border sont de la même couleur */
    }

    /* Résultat */

    .result {
        margin: 20px 30px 0;
        display: flex;
        justify-content: flex-start;
    }

    .result_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1em;
        width: 1em;
        font-size: 0.6em;
        border: solid 1px #F2F2F2;
        color: #0065FC;
        border-radius: 2em;
        padding: 0.4em;
        margin-right: 10px;
        margin-top: 2px;
    }

    /* Hébergement */

    #hosting {
        padding: 30px;
    }

    .hosting_sticker {
        background-color: white;
        box-shadow: 0 0 5px grey;
        padding: 5px;
        border-radius: 1em;
    }

    .hosting_sticker:hover {
        box-shadow: 0 0 10px black;
    }

    .hosting_sticker_picture {
        width: 100%;
        height: 8em;
        object-fit: cover;
        border-radius: 0.8em 0.8em 0 0;
    }

    .hosting_sticker_title, .hosting_sticker_price {
        padding: 0 5px;
    }

    .hosting_footer {
        margin-top: 30px;
    }

    /* Populaires */

    #popular {
        padding: 30px;
        background-color: #F2F2F2;
    }

    .popular_title_icon {
        display: flex;
        justify-content: space-between;
    }

    .popular_sticker {
        margin-top: 30px;
        background-color: white;
        box-shadow: 0 0 5px grey;
        padding: 5px;
        border-radius: 1em;
        display: flex;
    }

    .popular_sticker:hover {
        box-shadow: black 0 0 10px;
    }

    .popular_sticker_picture {
        width: 35%;
        object-fit: cover;
        border-radius: 0.8em 0 0 0.8em;
    }

    .popular_sticker_text {
        width: 55%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular_sticker_title, .popular_sticker_price {
        padding: 0 5px;
    }

    /* Activités */

    #activity {
        margin: 30px;
    }

    .activity_stickers {
        padding: 0 0;
    }

    .activity_sticker {
        margin-top: 20px;
        border-radius: 0.8em;
        box-shadow: 0 0 5px grey;
    }

    .activity_sticker:hover {
        box-shadow: 0 0 10px black;
    }

    .activity_sticker_title {
        padding: 10px 0 10px 15px;
    }

    .activity_sticker_picture1, .activity_sticker_picture2, .activity_sticker_picture3 {
        width: 100%;
        border-radius: 0.8em 0.8em 0 0;
        object-fit: cover;
    }

    /* Pied de page */

    footer {
        background-color: #F2F2F2;
        font-size: 0.9em;
    }

    footer li {
        list-style: none;
        margin-bottom: 10px;
    }

    .footer_title {
        font-weight: bold;
    }

}

/*************/
/* MOBILE */
/*************/

@media all and (max-width: 767px) {

    .header_first_line {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    header nav {
        order: 4;
        flex: 100%;
    }

    .header_logo {
        padding: 0 30px;
    }

    .header_li {
        flex: 50%;
        text-align: center;
        padding: 18px 0;
        border-bottom: solid 2px #F2F2F2;
    }

    header li a {
        font-size: 0.9em;
    }

    .header_li:hover {
        border-bottom: solid 2px #0065FC;
    }

    header a:hover {
        color: #0065FC;
    }

    .search {
        display: flex;
    }

    .search_input {
        flex-grow: 2;
    }

    .search_button {
        border-radius: 8px;
        margin-left: -8px;
    }

    .search_button::after {
        font-family: "font awesome 5 pro"  ;
        content: "\f002";
    }

    .filters_title {
        width: 100%;
    }

    .hp {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
    }

    .hosting_stickers {
        display: flex;
        flex-direction: column;
    }

    .hosting_sticker {
        margin-top: 30px;
    }

    .popular_sticker, .popular_sticker_picture {
        height: 8em;
    }

    .activity_column {
        flex: 100%;
        max-width: 100%;
        padding: 0 1%;
    }

    .activity_sticker {
        margin-bottom: 30px;
    }

    .activity_sticker_picture1, .activity_sticker_picture2, .activity_sticker_picture3 {
        height: 8em;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0 30px 30px;
    }

    .footer_column {
        margin-top: 30px;
        flex: 100%;
    }

}

/***********/
/* TABLET */
/***********/

@media all and (min-width: 768px) and (max-width: 1023px) {

    .header_first_line {
        margin: 2px 0 10px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_li {
        padding: 20px 20px;
        font-size: 0.9em;
        border-top: solid 2px white;
    }

    .header_li:hover {
        border-top: solid 2px #0065FC;
    }

    header a:hover {
        color: #0065FC;
    }

    .search_button::after {
        content: "Rechercher";
    }

    .hp {
        margin: 0 20px;
        display: flex;
    }

    #hosting {
        margin: 20px 10px 0;
        flex: 65%;
        max-width: 65%;
        background-color: #F2F2F2;
        border-radius: 1em;
    }

    .hosting_stickers {
        display: flex;
        flex-wrap: wrap;
        margin: 20px -2% 0;
        justify-content: center;
    }

    .hosting_sticker {
        flex: 43%;
        max-width: 43%;
        margin: 2%;
    }

    #popular {
        margin: 20px 10px 0;
        flex: 35%;
        max-width: 35%;
        border-radius: 1em;
    }

    .popular_sticker, .popular_sticker_picture {
        height: 12em;
    }

    .activity_row {
        height: 380px;
        margin: 0 -1%;
        display: flex;
        flex-wrap: wrap;
    }

    .activity_column {
        flex: 23%;
        max-width: 23%;
        padding: 1%;
    }

    .activity_sticker_picture1 {
        height: 20em;
    }

    .activity_sticker_picture2 {
        height: 10em;
    }

    .activity_sticker_picture3 {
        height: 6.3em;
    }

    footer {
        margin-top: 50px;
        padding: 0 30px 30px;
    }

    .footer_row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_column {
        margin-top: 30px;
        flex: 33%;
        max-width: 33%;
    }

}

/***********/
/* DESKTOP */
/***********/

@media all and (min-width: 1024px) {

    .header_first_line {
        margin: 2px 0 10px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_li {
        padding: 20px 20px;
        font-size: 0.9em;
        border-top: solid 2px white;
    }

    .header_li:hover {
        border-top: solid 2px #0065FC;
    }

    header a:hover {
        color: #0065FC;
    }

    .search_button::after {
        content: "Rechercher";
    }

    .hp {
        margin: 0 20px;
        display: flex;
    }

    #hosting {
        margin: 20px 10px 0;
        flex: 58%;
        max-width: 58%;
        background-color: #F2F2F2;
        border-radius: 1em;
    }

    .hosting_stickers {
        display: flex;
        flex-wrap: wrap;
        margin: 20px -1.5% 0;
        justify-content: center;
    }

    .hosting_sticker {
        flex: 28.5%;
        max-width: 28.5%;
        margin: 1.5%;
    }

    #popular {
        margin: 20px 10px 0;
        flex: 30%;
        max-width: 30%;
        border-radius: 1em;
    }

    .popular_sticker, .popular_sticker_picture {
        height: 8em;
    }

    .activity_row {
        height: 380px;
        margin: 0 -1%;
        display: flex;
        flex-wrap: wrap;
    }

    .activity_column {
        flex: 23%;
        max-width: 23%;
        padding: 1%;
    }

    .activity_sticker_picture1 {
        height: 20em;
    }

    .activity_sticker_picture2 {
        height: 10em;
    }

    .activity_sticker_picture3 {
        height: 6.3em;
    }

    footer {
        margin-top: 50px;
        padding: 0 30px 30px;
    }

    .footer_row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_column {
        margin-top: 30px;
        flex: 33%;
        max-width: 33%;
    }

}