/* INITIALISATION DES MARGES */

* {
    margin: 0;
    padding: 0;
}

span {
    font-weight: bold;
}

span>.blue {
    color: #0065FC;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: black;
}

/* POLICES */

@font-face {
    font-family: Raleway;
    src: url(polices/Raleway-Medium.ttf);
}

body {
    font-family: Raleway, Arial, sans-serif;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 1.1em;
    font-weight: 900;
}

h2 {
    font-size: 0.8em;
    font-weight: 900;
    margin-right: 20px;
}

figcaption {
    font-size: 0.8em;
    font-weight: 900;
}

p {
    font-size: 0.8em;
}

/***********/
/* EN-TETE */
/***********/

header {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu de navigation */

.header_nav_signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_nav {
    padding: 20px 20px;
    font-size: 0.8em;
}

.header_nav:hover {
    color:#0065FC;
    border-top: solid 2px #0065FC;
}

/* Inscription */

a.header_signup {
    color: #0065FC;
    font-size: 0.8em;
    font-weight: bold;
    padding: 20px 20px;
}

.header_signup:hover {
    color:#0065FC;
}

/***********************/
/* MOTEUR DE RECHERCHE */
/***********************/

.search {
    margin-top: 20px;
    display:flex;
    justify-content: flex-start;
}

.search_icon {
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 8px 0 0 8px;
    font-size: 0.8em;
    padding: 0.8em;
}

.search_input {
    font-size: 0.8em;
    font-weight: bold;
    border: solid 1px #F2F2F2;
    padding: 0.8em;
}
.search_button {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 8px 8px 0;
    padding: 0.8em;
}

/***********/
/* FILTRES */
/***********/

.filters {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filter {
    display: flex;
    justify-content: flex-start;
}

.filter_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 0.8em;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 2em;
    padding: 0.7em;
    z-index: 100;
}

.filter_name {
    margin: 0 20px 0 -2.9em;
    font-size: 0.8em;
    font-weight: 900;
    border: solid 1px #F2F2F2;
    border-radius: 1.6em;
    padding: 0.8em 1em 0.8em 3.6em;
}

.filter_name:hover {
    color: white;
    background-color: #0065FC;
    border: solid 1px #0065FC;
}

/* RESULTAT */

.result {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.result_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    font-size: 0.6em;
    border: solid 1px #F2F2F2;
    color: #0065FC;
    border-radius: 2em;
    padding: 0.4em;
    margin-right: 10px;
}

/***********/
/* HOSTING */
/***********/

.hosting {
    margin-top: 20px;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 1em;
}

.hosting_stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hosting_sticker {
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    padding: 5px;
    border-radius: 1em;
    width: 30%;
}

.hosting_sticker_picture {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 0.8em 0.8em 0 0;
}

.hosting_sticker_title, .hosting_sticker_price {
    padding: 5px 0 0 5px;
}

.stars {
    padding: 5px 0 5px 5px;
    font-size: 0.7em;
    color: #F2F2F2;
}

.blue {
    color: #0065FC;
}

.hosting_footer {
    margin-top: 30px;
}

/***********/
/* ACTIVITY */
/***********/

.activity {
    margin-top: 20px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 1em;
}